.job-detail{
    padding :20px;
    margin: 20px 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
    cursor: pointer;
    position: sticky;
    top: 100px;
    /* transform: ; */
}
.des{
    margin: 10px 0px;
    font-size: 20px;
}
.sal{
    margin: 10px 0px;
}