.jobView{
    padding :20px;
    margin: 20px 20px;
    /* border: 1px solid ; */
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.jobView:hover{
    transform: scale(1.01);
}
.jobView > h4{
    margin: 5px 0px;
    font-weight: 200;
    font-size: 15px;
}
.jobView > img{
    margin: 5px 0px;
    /* object-fit: contain; */
    border-radius: 10px;
    
}
.jobView > p{
    margin: 10px 0px;
    font-size: 15px;
}
.sal{
    margin: 10px 0px;
}
