.exp-form{
    margin: 10px 20px;
    padding: 10px 50px;
    display: grid;
    grid-template-columns: auto auto;
}
.exp-form input{
    margin: 5px 10px;
    border: none;
}
.exp-form label{
    margin: 5px 10px;
}
.exp-form p{
    margin: 5px 10px;
}
.singlecol{
    grid-column: 1/3;
}
.exp-form > button{
    margin: 10px 20px;
    border: none;
    background-color:blueviolet;
    color: #ffffff;
    padding: 5px;
    border-radius: 10px;
    width: 60px;
    outline: none;
    cursor: pointer;
}
.exp-form > button:active{
    color: blueviolet;
    background: #fff;
}

